<div class="men">
	<div class="container">
		<div class="grid_1">
			<h1>Contact Info</h1>
			<p>fasdfasdfasdf</p>
		</div>
		<div class="grid_4">
			<div class="grid_2 preffix_1">
				<ul class="iphone">
					<i class="phone"> </i>
					<li class="phone_desc">Phone : 18080051730 </li>
					<div class="clearfix"> </div>
				</ul>
				<ul class="iphone">
					<i class="flag"> </i>
					<li class="phone_desc">Website :
						<a href="mailto: "> </a>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</div>
			<div class="grid_3">
				<ul class="iphone">
					<i class="msg"> </i>
					<li class="phone_desc">Email : <a href="mailto:">max.f@foxmail.com</a> </li>
					<div class="clearfix"> </div>
				</ul>
				<ul class="iphone">
					<i class="home"> </i>
					<li class="phone_desc">Address : </li>
					<div class="clearfix"> </div>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="contact_form">
			<h2>Feedback</h2>
			<form>
				<div class="col-md-6 to">
					<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
					<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
				</div>
				<div class="col-md-6 text">
					<textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
				</div>
				<div class="clearfix"></div>
				<div class="but__center">
					<input type="submit" value="Send message &gt;&gt;">
				</div>
			</form>
		</div>
	</div>
</div>