<div class="men">
	<div class="container">
		<div class="col-md-9 single_top">
			<div class="single_left">
				<div class="labout span_1_of_a1">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="images/{{itemNow.id}}_1.jpg" alt="image">
								<img ng-src="images/{{itemNow.id}}_1.jpg" alt="image" />
							</li>
							<li data-thumb="images/{{itemNow.id}}_2.jpg" alt="image">
								<img ng-src="images/{{itemNow.id}}_2.jpg" alt="image" />
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>


				<div class="cont1 span_2_of_a1 simpleCart_shelfItem">
					<h1>{{itemNow.name}}</h1>
					<p class="availability">Availability: <span class="color">{{itemNow.availability}}</span></p>
					<div class="price_single">
						<span class="reducedfrom" ng-if="itemNow.oldprice">${{itemNow.oldprice}}</span>
						<span class="amount item_price actual">${{itemNow.price}}</span>
					</div>
					<h2 class="quick">Quick Overview:</h2>
					<p class="quick_desc"> {{itemNow.details}}</p>

					<!--
					
						<div class="quantity_box">
							<ul class="product-qty">
								<span>Quantity:</span>
								<select>
									<option>1</option>
								</select>
							</ul>
							<ul class="single_social">
								<li><a href="#"><i class="fb1"> </i> </a></li>
								<li><a href="#"><i class="tw1"> </i> </a></li>
								<li><a href="#"><i class="g1"> </i> </a></li>
								<li><a href="#"><i class="linked"> </i> </a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<a href="#" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self">Add to cart</a>
-->
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list">
						<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Description</span></li>
					</ul>
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
							<div class="facts">
								<p>介绍</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			-->
		</div>

		<div class="col-md-3 tabs">
			<h3 class="m_1">Related Products</h3>
			<ul class="product">
				<li class="product_img">
					<a href="#/item/{{itemNext.id}}"><img ng-src="images/{{itemNext.id}}_1.jpg" class="img-responsive" alt="" /></a>
				</li>
				<li class="product_desc">
					<h4><a href="#/item/{{itemNext.id}}">{{itemNext.name}}</a></h4>
					<p class="single_price">${{itemNext.price}}</p>
					<!--
						<a href="#" class="link-cart">Add to Wishlist</a>
						<a href="#" class="link-cart">Add to Cart</a>
-->
				</li>
				<div class="clearfix"> </div>
				<br/>
				<li class="product_img">
					<a href="#/item/{{itemPrev.id}}"><img ng-src="images/{{itemPrev.id}}_1.jpg" class="img-responsive" alt="" /></a>
				</li>
				<li class="product_desc">
					<h4><a href="#/item/{{itemPrev.id}}">{{itemPrev.name}}</a></h4>
					<p class="single_price">${{itemPrev.price}}</p>
				</li>
				<div class="clearfix"> </div>
			</ul>

		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script>
	$(document).ready(
		function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
</script>